<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">

        <hr class="col-xs-12">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Test <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a data-th-href="@{/tests}">Tests</a></li>
                    <li><a data-th-href="@{/createTest}">TestCreationForm</a></li>
                </ul>

            </li>
        </ul>

    </div>

</div>