.input_box {
    text-align: center;
    margin-left: 25%;
    margin-top: 6%;
    width: 40%;
    display: inline-block;
    padding: 30px;
    position: absolute;
    background-color: #2A3F54;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}

label, .my_text {
    color: #ffffff;
    font-size: 24px;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=email], input[type=password], input[type=text]:focus {
    border: 3px solid #555;
    border-radius: 5px;
}

input[type=submit], .my_button {
    font-size: 16px;
    color: #ffffff;
    background-color: #2A3F54;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
}

#coding-test-form {
    text-align: center;
}




