<!DOCTYPE html>
<html data-layout-decorate="~{layout/home-layout}" lang="en">
<head>
    <title>Admin</title>
</head>


<body>
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Admin Page</h3>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form>
                            <div class="form-group">
                                <p>
                                    <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary"
                                       data-toggle="collapse"
                                       href="#setSubject" role="button">
                                        Create Subject
                                    </a>
                                </p>
                                <div class="collapse" id="setSubject">
                                    <div class="card card-body col-md-6">
                                        <input class="form-control" id="inputSubject"
                                               placeholder="Set some name"
                                               required="required" type="text"/>
                                    </div>
                                    <button class="btn btn-success" id="btnSubjectCreation" type="submit">Submit
                                    </button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <p>
                                    <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary"
                                       data-toggle="collapse"
                                       href="#setGroup" id="btnShowGroupCreationForm" role="button">
                                        Create Group
                                    </a>
                                </p>

                                <div class="collapse" id="setGroup">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="clearfix"></div>
                                            <br/>
                                            <div class="input-group card card-body col-md-7">
                                                <label class="memberNameLabel pull-left">Name*</label>
                                                <input class="form-control " id="inputGroupName"
                                                       placeholder="Set some name" required="required" type="text"/>
                                            </div>
                                            <div class="input-group card card-body col-md-7">
                                                <label class="memberNameLabel pull-left">Subject*</label>
                                                <select class="custom-select form-control" id="inputGroupSelect"
                                                        required>
                                                </select>
                                            </div>

                                            <div class=" card-body  ">
                                                <p>
                                                    <a aria-controls="collapseExample" aria-expanded="false"
                                                       class="btn btn-primary pull-left"
                                                       data-toggle="collapse"
                                                       href="#showStudents"
                                                       id="btnShowStudents" role="button">
                                                        Show students by selected subject
                                                    </a>
                                                </p>

                                                <div class="collapse col-md-12" id="showStudents">
                                                    <div class="clearfix">
                                                        <table class="table table-striped jambo_table bulk_action">
                                                            <thead>
                                                            <tr>
                                                                <th>
                                                                    <input class="flat" id="check-all" type="checkbox">
                                                                </th>
                                                                <th style="width: 1%">#</th>
                                                                <th>Photo</th>
                                                                <th>Full name</th>
                                                                <th>Email</th>
                                                                <th>Phone number</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="studentsInGroupTBody">
                                                            <script id="studentsInGroupTBodyScript"
                                                                    type="text/x-mustache-template">
                                                                <tr class="row-select_{{count}}">
                                                                    <td class="a-center">
                                                                        <input id="selectStudent_{{count}}"
                                                                               type="checkbox" class="flat"
                                                                               name="table_records">
                                                                    </td>
                                                                    <td>{{count}}</td>
                                                                    <td>
                                                                        <a>Photo</a>
                                                                    </td>
                                                                    <td>
                                                                        <a>{{student.profile.firstName}}
                                                                            {{student.profile.lastName}}</a>
                                                                    </td>
                                                                    <td id="studentEmail_{{count}}">
                                                                        {{student.email}}
                                                                    </td>
                                                                    <td>
                                                                        {{student.profile.phoneNumber}}
                                                                    </td>
                                                                </tr>
                                                            </script>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <br><br><br>

                                                <div class="input-group">
                                                    <div class="ln_solid"></div>
                                                    <a class="btn btn-success" id="btnCreateGroup"
                                                       type="button"> Submit
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
