<!DOCTYPE html>
<html data-layout-decorate="~{layout/home-layout}" lang="en">
<head>
    <title>Cabinet</title>
</head>

<body>
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Teacher cabinet</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Main page</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-3 col-sm-6  ">
                                    <div class="pricing">
                                        <div class="title">
                                            <h2>Create</h2>
                                            <h1>Tests</h1>
                                        </div>
                                        <div class="x_content">
                                            <div class="">
                                                <div class="pricing_features">
                                                    <ul class="list-unstyled text-left">
                                                        <li><i class="fa fa-check text-success"></i> set
                                                            <strong> test parameters</strong></li>
                                                        <li><i class="fa fa-check text-success"></i>
                                                            create <strong>questions and answers</strong>
                                                        </li>
                                                        <li><i class="fa fa-check text-success"></i> write <strong>
                                                            code tests</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pricing_footer">
                                                <a class="btn btn-success btn-block"
                                                   data-th-href="@{/cabinet/test-create}"
                                                   role="button">Go</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6  ">
                                    <div class="pricing">
                                        <div class="title">
                                            <h2>View all</h2>
                                            <h1>Tests</h1>
                                        </div>
                                        <div class="x_content">
                                            <div class="">
                                                <div class="pricing_features">
                                                    <ul class="list-unstyled text-left">
                                                        <li><i class="fa fa-check text-success"></i> view
                                                            <strong> each created test</strong></li>
                                                        <li><i class="fa fa-check text-success"></i>
                                                            change <strong>each test</strong>
                                                        </li>
                                                        <li><i class="fa fa-check text-success"></i> invite <strong>
                                                            students </strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pricing_footer">
                                                <a class="btn btn-success btn-block" data-th-href="@{/cabinet/tests}"
                                                   role="button">Go</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>