<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Quizter login</title>
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>

<body>
<div class="input_box">
    <form id="sign_in" th:action="@{/login}" method="post">
        <label for="email">Email</label>
        <input type="email" name="username" id="email" placeholder="Enter email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password" required>
        <input type="submit" value="Login">
    </form>
    <p style="color: #ffffff"><a href="/resetPassword" style="color: #3AE2CE">Forgot password</a></p>
    <p style="color: #ffffff">If You have no account <a href="/registration/STUDENT"
                                                        style="color: #3AE2CE">Sign up here</a></p>
</div>
</body>
</html>