<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>New password</title>
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <script th:src="@{/js/ajax/new_password.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div class="input_box">
    <div id="newPasswordForm">
        <div class="form">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password" required>
            <label for="password">Confirm password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" required>
            <p id="mismatchMessage" style="color: red"></p>
            <button class="my_button" onclick="saveNewPassword()">Save</button>
        </div>
    </div>
    <a id="messageWrong" href="/resetPassword" style="color: #3AE2CE"></a>
    <p class="my_text" id="messageSuccess"></p>
    <a id="messageLogin" href="/login" style="color: #3AE2CE"></a>
</div>
</body>
</html>