<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout/home-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <script th:src="@{/js/ajax/profile.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Edit the profile</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="title_left">
        <div class="col-md-5 col-sm-5">
            <div class="input-group">
                <input type="text" id="firstName" class="form-control" placeholder="first name">
            </div>
            <div class="input-group">
                <input type="text" id="lastName" class="form-control" placeholder="last name">
            </div>
            <div class="input-group">
                <input type="text" id="sphere" class="form-control" placeholder="sphere">
            </div>
            <div class="input-group">
                <input type="text" id="phoneNumber" class="form-control" placeholder="phone number">
            </div>
            <button class="btn-primary" onclick="saveProfile()">Save</button>
        </div>
    </div>
</div>


</body>
</html>