<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout/home-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <script th:src="@{/js/ajax/profile.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Profile</h3>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="title_left">
        <div class="col-md-5 col-sm-5">
            <div class="input-group">
                <h2 th:text="${profile.firstName}">User name</h2>
            </div>
            <div class="input-group">
                <h2 th:text="${profile.lastName}">User last name</h2>
            </div>
            <div class="input-group">
                <h2 th:text="${profile.sphere}">Sphere</h2>
            </div>
            <div class="input-group">
                <h2 th:text="${profile.phoneNumber}">User phone number</h2>
            </div>
            <a href="/profile/edit">Edit</a>
        </div>
    </div>
</div>


</body>
</html>