<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout/home-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <script th:src="@{/js/ajax/profile.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Edit the profile</h3>
            </div>
        </div>
    </div>

    <div id="modal" style="position: absolute;
                display: none;
                z-index:100;
                padding: 12px;
                text-align: center;
                margin-top: 6%;
                margin-left: 14%;
                width: 25%;
                background-color: #2A3F54;
                border-radius: 5px;
                box-shadow: 10px 10px 5px grey;">
        <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
            <label><H2>Choose the photo</H2></label>
            <p id="uploadError" style="color: red"></p>
            <div style="margin: 6px;">
                <input id="file" type="file" name="file"/>
            </div>
            <div style="margin: 6px;">
                <input class="btn btn-primary" type="submit" value="Submit" id="btnSubmit"/>
            </div>
        </form>
        <div style="margin: 6px;">
            <button class="btn btn-secondary" onclick="cancelPhoto()">Close<i class="fa fa-close"></i></button>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="title_left">
        <div class="row" style="text-align: center;">
            <div class="col-md-5 col-sm-5">
                <div class="input-group">
                    <p id="firstNameError" style="color: red"></p>
                    <input type="text" th:value="${profile.firstName}"
                           id="firstName" class="form-control" placeholder="first name">
                </div>
                <div class="input-group">
                    <p id="lastNameError" style="color: red"></p>
                    <input type="text" th:value="${profile.lastName}"
                           id="lastName" class="form-control" placeholder="last name">
                </div>
                <div class="input-group">
                    <p id="sphereError" style="color: red"></p>
                    <input type="text" th:value="${profile.sphere}"
                           id="sphere" class="form-control" placeholder="Subject">
                </div>
                <div class="input-group">
                    <div class="input-group">
                        <p id="phoneNumberError" style="color: red"></p>
                        <input type="text" th:value="${profile.phoneNumber}"
                               id="phoneNumber" class="form-control" placeholder="phone number">
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary" onclick="saveProfile()">Save <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="input-group">
                    <img src='/images/img.jpg'
                         alt="o_O"
                         class="img-circle profile_img" onclick="addPhoto()" id="userPhoto"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>