<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout/home-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <script th:src="@{/js/ajax/profile.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Edit the profile</h3>
            </div>
        </div>
    </div>

    <div id="modal" style="position: fixed;
                display: none;
                z-index:100;
                background: #EDEDED;
                text-align: center;
                margin-top: 100px;
                margin-left: 20%;
                height: 150px;
                width: 25%;
                box-shadow: 10px 10px 5px grey;">
        <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
            <label><H2>Choose the photo</H2></label>
            <input id="file" type="file" name="file"/>
            <input type="submit" value="Submit" id="btnSubmit"/>
        </form>
        <div class="input-group">
            <button class="btn-primary" onclick="cancelPhoto()">Cancel</button>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="title_left">
        <div class="col-md-5 col-sm-5">
            <div class="input-group">
                <input type="text" th:value="${profile.firstName}"
                       id="firstName" class="form-control" placeholder="first name">
            </div>
            <div class="input-group">
                <input type="text" th:value="${profile.lastName}"
                       id="lastName" class="form-control" placeholder="last name">
            </div>
            <div class="input-group">
                <button class="btn-primary" onclick="addPhoto()">Add photo</button>
            </div>
            <div class="input-group">
                <input type="text" th:value="${profile.sphere}"
                       id="sphere" class="form-control" placeholder="sphere">
            </div>
            <!--            <div class="input-group">-->
            <!--                <input type="text" th:value="${profile.photoUrl}"-->
            <!--                       id="photo" class="form-control" placeholder="file..">-->
            <!--            </div>-->
            <div class="input-group">
                <input type="text" th:value="${profile.phoneNumber}"
                       id="phoneNumber" class="form-control" placeholder="phone number">
            </div>
            <button class="btn-primary" onclick="saveProfile()">Save</button>
        </div>
    </div>
</div>

</body>
</html>