<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout/home-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/ajax/quiz.js}"></script>
    <title>Quiz</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row" style="margin-right: 40px;">
        <H6 id="duration" th:text="${duration}" hidden="hidden"></H6>
        <div class="" style="position: fixed;
                z-index:100;
                background: #EDEDED;
                text-align: center;
                margin-top: 55px;
                margin-left: 55%;
                height: 150px;
                width: 13%;
                box-shadow: 10px 10px 5px grey;">
            <h3>Time left</h3>
            <h1 id="time"></h1>
            <button id="endId" style="width: 80%; height: 40px; margin: 15px"
                    class="btn-primary" onclick="endQuiz()">End quiz
            </button>
        </div>
        <div class="" id="modal" style="position: fixed;
                display: none;
                z-index:100;
                background: #EDEDED;
                text-align: center;
                margin-top: 100px;
                margin-left: 20%;
                height: 150px;
                width: 25%;
                box-shadow: 10px 10px 5px grey;">
            <h4>Are You sure you want to end quiz?</h4>
            <button style="width: 30%; height: 40px; margin: 15px" class="btn-primary" onclick="finishQuiz()">Yes
            </button>
            <button style="width: 30%; height: 40px; margin: 15px" class="btn-primary" onclick="proceed()">No</button>
        </div>
    </div>
    <div class="">
        <div class="x_panel">
            <div class="page-title" id="rowId">
                <div class="title_center">
                    <h3 th:text="${quiz.name}"></h3>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="tile_info">
                            <tr th:each="question: ${quiz.questions}">
                                <td>
                                    <h4>Question#<span th:text="${quiz.questions.indexOf(question) + 1}"></span></h4>
                                    <p><b><span th:text="${question.name}"></span></b></p>
                                    <table class="tile_info">
                                        <tr th:if="${question.questionType == T(com.quizter.dictionary.QuestionType).MULTIVARIANT}">
                                            <td>
                                                <table class="tile_info">
                                                    <tr th:each="answer: ${question.answers}">
                                                        <td style="padding: 8px; width: 6%;">
                                                            <div class="radio pull-left">
                                                                <label>
                                                                    <input type="checkbox" class="resultAnswer"
                                                                           th:questionType="${question.questionType}"
                                                                           th:questionId="${question.id}"
                                                                           th:name="answersArray"
                                                                           th:value="${answer.key}">
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td style="padding: 8px; width: 94%;"
                                                            th:text="${answer.key}">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr th:if="${question.questionType == T(com.quizter.dictionary.QuestionType).CODE}">
                                            <td>
                                                <!--                                                <table class="tile_info" style="height: 200px;">-->
                                                <table class="tile_info">
                                                    <tr>
                                                        <td style="padding: 8px; width: 10%;">
                                                            <textarea class="resultAnswer" style="width: 100%; height: 180px;"
                                                                      th:questionType="${question.questionType}"
                                                                      th:questionId="${question.id}"
                                                                      th:name="answersArray"
                                                                      th:text="${question.codeTask}"></textarea>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
