<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layout/home-layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/ajax/quiz-begin.js}"></script>
    <title>Quiz</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row" style="margin-right: 40px;">
        <div class="" style="position: fixed;
                z-index:100;
                text-align: center;
                margin-top: 55px;
                margin-left: 55%;
                width: 13%;
                background-color: #2A3F54;
                border-radius: 5px;
                box-shadow: 10px 10px 5px grey;">
            <h3 style="color: white;">Duration</h3>
            <h1 style="color: white;" id="time"><span th:text="${duration}"></span> min</h1>
            <button id="startId" class="btn btn-primary" th:onclick="start()">Begin</button>
            <br>
        </div>
    </div>
</div>
</body>
</html>
