<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Create User">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Create User</title>
</head>
<body>
<form accept-charset="UTF-8" method="post" th:href="@{~/registration}" th:object="${user}">
    <div class="form-group py-2">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control" th:field="*{email}" autocomplete="off" required>
    </div>
    <div class="form-group py-2">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" th:field="*{password}" autocomplete="off" required>
    </div>
    <div class="form-group py-2">
        <label for="confirmPassword">Email</label>
        <input id="confirmPassword" type="password" class="form-control" th:field="*{confirmPassword}"
               autocomplete="off" required>
    </div>
    <div class="form-group py-2">
        <label>Role1</label>
        <select>
            <option th:each="role : ${T(com.quizter.dictionary.Role).values()}" th:value="*{role}" th:text="*{role.displayName}"></option>
        </select>
    </div>

    <div class="container text-center py-4">
        <button type="submit" class="button btn-lg"
                data-loading-text="Create employee...">SUBMIT
        </button>
    </div>
</form>
</body>
</html>