<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Registration</title>
    <link th:href="@{/css/app.css}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/ajax/registration.js"></script>

</head>

<body>
<div class="input_box">
    <form accept-charset="UTF-8" id="registration-form">
        <div class="form-group py-2">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" autocomplete="off" required>
        </div>
        <div class="form-group py-2">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" autocomplete="off"
                   required>
        </div>
        <div class="form-group py-2">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" type="password" class="form-control"
                   autocomplete="off" required>
        </div>
        <input id="role" name="role" type="text" hidden="true" th:value="${role}">
        <div class="container text-center py-4">
            <button type="submit" id="register" class="my_button"
                    data-loading-text="Create employee...">SUBMIT
            </button>
        </div>
    </form>
</div>
</body>
</html>