<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Reset password</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/app.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div class="input_box">
    <div th:if="${hidden != 'true'}">
        <div class="form">
            <label for="email">Email</label>
            <input type="text" name="userEmail" id="email" placeholder="Enter email">
            <p style="color: red" th:text="${message}"></p>
            <button class="my_button" onclick="resetPassword()">Reset password</button>
        </div>
        <p style="color: #ffffff"><a href="/login" style="color: #3AE2CE">Back to login</a></p>
    </div>
    <p style="color: #3AE2CE" th:text="${checkMessage}"></p>
</div>
</body>
</html>