<!DOCTYPE html>
<html data-layout-decorate="~{layout/home-layout}" lang="en">
<head>
    <title>Students</title>
</head>
<body>
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Student list</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Checking info about students</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table cellspacing="0" class="table table-striped table-bordered dt-responsive nowrap"
                               id="datatable-responsive" width="100%">
                            <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th>Photo</th>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Phone number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#</td>
                                <td>
                                    <a>Photo</a>
                                </td>
                                <td>
                                    Name
                                </td>
                                <td>
                                    Email
                                </td>
                                <td>
                                    Phone
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/ajax/students.js"></script>
</body>
</html>
