<!DOCTYPE html>
<html data-layout-decorate="~{layout/home-layout}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Editor</title>
</head>

<body>
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Test Editor</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit Form</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <div class="container">
                            <div class="stepwizard">
                                <div class="stepwizard-row setup-panel">
                                    <div class="stepwizard-step">
                                        <a class="btn btn-primary btn-circle" href="#step-1" type="button">1</a>
                                        <p>Step 1</p>

                                    </div>

                                    <div class="stepwizard-step">
                                        <a class="btn btn-default btn-circle" disabled="disabled" href="#step-2Edit"
                                           type="button">2</a>
                                        <p>Step 2</p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a class="btn btn-default btn-circle" disabled="disabled" href="#step-3Edit"
                                           type="button">3</a>
                                        <p>Step 3</p>
                                    </div>
                                </div>
                            </div>

                            <form id="testEditPage" th:attr="dataEdit_id=${testEditId}">
                                <div class="row setup-content" id="step-1">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3> Step 1 </h3>
                                            <small>Change Test parameters</small>
                                            <div class="ln_solid"></div>
                                            <form id="setTestDescription">
                                                <div class="form-group">
                                                    <label id="newVersionLabel" class="control-label">Set new version*</label>
                                                    <input class="form-control" id="version" max="2090" min="1900"
                                                           placeholder="Version"
                                                           required="required" type="text"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Description*</label>
                                                    <textarea class="form-control" id="newDescription" max="20090"
                                                              min="1900"
                                                              placeholder="Describe test" required="required"
                                                              rows="4"></textarea>
                                                </div>

                                                <div class="form-group col-md-2 col-xs-2">
                                                    <label class="control-label">Test duration*</label>
                                                    <input class="form-control " id="editTestDuration" min="5"
                                                           placeholder="0 min" type="number">
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="ln_solid"></div>
                                                <button class="btn btn-primary nextBtn btn-lg pull-right"
                                                        onclick="newTestDescriptionClick();" type="button">
                                                    <i class="fa  fa-hand-o-right"></i> Next
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row setup-content" id="step-2Edit">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3> Step 2</h3>
                                            <small>Change questions</small>

                                            <div class="testEditionForm">
                                                <script id="testEditionFormScript" type="text/x-mustache-template">
                                                    <div id="testEditionDivId" class="testEditionDiv parent col-xs-12">
                                                        <div class="col-md-12">
                                                            <a class="deleteTestEdit close-link pull-right"><h2><i class="fa fa-close"></i></h2></a>
                                                            <div class="ln_solid"></div>
                                                            <div class="col-md-1  form-group pull-right">
                                                                <label class="control-label " for="questionMarkForEdit_{{editCount}}">Mark</label>
                                                                <input type="text" class="questionMarkForEdit form-control"
                                                                       id="questionMarkForEdit_{{editCount}}">
                                                            </div>
                                                            <div><h2>Question # <span>{{editCount}}</span>
                                                            </h2>
                                                                <br/>
                                                            </div>
                                                            <div class="form-group">
                                                        <textarea class="writeQuestionForEdit form-control"
                                                                  id="writeQuestionForEdit_{{editCount}}"
                                                                  maxlength="1000"
                                                                  minlength="3" placeholder="Write some question"
                                                                  required="required"
                                                                  rows="2"></textarea>
                                                            </div>
                                                            <div class="ln_solid"></div>
                                                            <h2>Answers <h2 class="pull-right">Right</h2></h2>
                                                            <br/><br/><br/>
                                                            <div class="form-group">
                                                                <form class="form-horizontal form-label-left"
                                                                      id="addQuestion">
                                                                    <div class="form-group row">
                                                                        <label class="control-label col-md-3"
                                                                               for="writeFirstAnswerForEdit_{{editCount}}">First
                                                                            answer <span
                                                                                    class="required">*</span></label>
                                                                        <div class="col-md-8">
                                                                    <textarea
                                                                            class=" writeFirstAnswerForEdit form-control col-md-8"
                                                                            id="writeFirstAnswerForEdit_{{editCount}}"
                                                                            maxlength="300"
                                                                            minlength="1"
                                                                            placeholder="Write option of answer"
                                                                            required="required"
                                                                            rows="1"></textarea>
                                                                        </div>
                                                                        <div class="firstRadio radio pull-right"><label>
                                                                            <input
                                                                                    class="flat"
                                                                                    id="firstRadioEdit_{{editCount}}"
                                                                                    name="iCheck"
                                                                                    type="radio"> </label></div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="control-label col-md-3 pull-left"
                                                                               for="writeSecondAnswerForEdit_{{editCount}}">Second
                                                                            answer
                                                                            <span
                                                                                    class="required">*</span> </label>
                                                                        <div class="col-md-8">
                                                                    <textarea
                                                                            class="writeSecondAnswerForEdit form-control col-md-8"
                                                                            id="writeSecondAnswerForEdit_{{editCount}}"
                                                                            maxlength="300"
                                                                            minlength="3"
                                                                            placeholder="Write option of answer"
                                                                            required="required"
                                                                            rows="1"></textarea>
                                                                        </div>
                                                                        <div class="secondRadio radio pull-right">
                                                                            <label> <input
                                                                                    class="flat"
                                                                                    id="secondRadioEdit_{{editCount}}"
                                                                                    name="iCheck"
                                                                                    type="radio"> </label></div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="control-label col-md-3"
                                                                               for="writeThirdAnswerForEdit_{{editCount}}">Third
                                                                            answer <span
                                                                                    class="required">*</span> </label>
                                                                        <div class="col-md-8">
                                                                    <textarea
                                                                            class="writeThirdAnswerForEdit form-control col-md-8"
                                                                            id="writeThirdAnswerForEdit_{{editCount}}"
                                                                            maxlength="300"
                                                                            minlength="3"
                                                                            placeholder="Write option of answer"
                                                                            required="required"
                                                                            rows="1"></textarea>
                                                                        </div>
                                                                        <div class="thirdRadio radio pull-right"><label>
                                                                            <input
                                                                                    class="flat"
                                                                                    id="thirdRadioEdit_{{editCount}}"
                                                                                    name="iCheck"
                                                                                    type="radio"> </label></div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="control-label col-md-3"
                                                                               for="writeFourthAnswerForEdit_{{editCount}}">Fourth
                                                                            answer
                                                                            <span
                                                                                    class="required">*</span> </label>
                                                                        <div class="col-md-8">
                                                                    <textarea
                                                                            class="writeFourthAnswerForEdit form-control col-md-8"
                                                                            id="writeFourthAnswerForEdit_{{editCount}}"
                                                                            maxlength="300"
                                                                            minlength="3"
                                                                            placeholder="Write option of answer"
                                                                            required="required"
                                                                            rows="1"></textarea>
                                                                        </div>
                                                                        <div class="fourthRadio radio pull-right">
                                                                            <label> <input
                                                                                    class="flat"
                                                                                    id="fourthRadioEdit_{{editCount}}"
                                                                                    name="iCheck"
                                                                                    type="radio"> </label></div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </script>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="ln_solid"></div>

                                            <button class="btn btn-success btn-lg pull-right"
                                                    id="addOneMoreQuestionToEdit"
                                                    type="button"><i
                                                    class="fa fa-plus-circle"></i> Add
                                            </button>
                                            <button class="btn btn-primary prevBtn btn-lg pull-left"
                                                    type="button"><i
                                                    class="fa fa-step-backward"></i> Back
                                            </button>
                                            <button class="btn btn-primary nextBtn btn-lg pull-left"
                                                    id="edit-question-part-creation" type="button">
                                                <i class="fa  fa-hand-o-right"></i> Next
                                            </button>

                                        </div>
                                    </div>
                                </div>

                                <div class="row setup-content" id="step-3Edit">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3> Step 3 </h3>
                                            <small>Change code questions</small>
                                            <div class="ln_solid"></div>
                                            <form id="coding-test-form lign-self-center form-horizontal">
                                                <div class="form-group ">
                                                    <div class="col-md-1  pull-right">
                                                        <label class="control-label " for="editCodeMark">Mark<span
                                                                class="required"></span>
                                                        </label>
                                                        <input class="form-control" id="editCodeMark"
                                                               type="text">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="form-group row">
                                                            <label class="control-label " for="editTask">Task<span
                                                                    class="required"></span></label>
                                                            <input class="form-control" id="editTask" max="2090" min="1900"
                                                                   placeholder="Task"
                                                                   required="required" type="text"/>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="control-label " for="editCode">Code<span
                                                                    class="required"></span>
                                                            </label>
                                                            <textarea class="col-md-6 form-control" id="editCode"
                                                                      placeholder="Code..."
                                                                      required="required"
                                                                      style="height: 200px"></textarea>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="control-label " for="editUnitTest">Tests<span
                                                                    class="required"></span></label>
                                                            <textarea class="form-control" id="editUnitTest"
                                                                      placeholder="Tests..."
                                                                      required="required"
                                                                      style="height: 200px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <div class="clearfix"></div>
                                            <div class="ln_solid"></div>

                                            <button class="btn btn-primary prevBtn btn-lg pull-left"
                                                    type="button"><i
                                                    class="fa fa-step-backward"></i> Back
                                            </button>
                                            <button class="btn btn-success nextBtn btn-lg pull-right"
                                                    id="edit-coding-part-creation" type="button">Update
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
